@model TPGP.Models.Evenements

@{
    ViewBag.Title = "Suppression";
}

<h2>Suppression</h2>

<h3>Êtes-vous sur de vouloir supprimer cet événement ?</h3>
<div>
    <h4>Evenements</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ville)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ville)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodePostale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodePostale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descriptif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descriptif)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Createur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Createur)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" />
            <p></p>
            @Html.ActionLink("Retour", "Details", new { id = Model.Id })
        </div>
    }
</div>
